@page "/prueba"
@rendermode InteractiveServer

<h3>Ingresar Texto</h3>
<input type="text" @bind="@textoIngresado" /> 
<p>Texto Ingresado: @textoIngresado</p> 

@code {
    private string textoIngresado = string.Empty;                                                                                 
}
