@page "/"

<PageTitle>Login</PageTitle>

<div>
    <h1 style="text-align: center;">Login</h1>
</div>

<div style="display: inline-grid;
     justify-content: center;
     align-items: center;
     height: 30vh;
     margin-top: 100px;
     margin-left: 40px;">
    
    <div>
        <label>Nombre de usuario: </label>
        <input id="lblNombreUsuario" type="text"/>
    </div>

    <div>
        <label>Contraseña: </label>
        <input id="lblContrasenia" type="text"/>
    </div>

    <div>
        <input id="btnIngresar" type="button" value="Ingresar" />
    </div>

    <div>
        <a href="/crear-usuario" style="display: block">Crear nuevo usuario</a>
    </div>
</div>
